<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDW-fajGZY3SEC8lHI8SOIu_NkbuoA_NJ4"></script>
</head>
<body>

<%= yield %>

</body>
</html>
